* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./Espião-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 100px;

}

.bordab {
    background-color: black;
    position: relative;
    top: 169px;
}

.bordac {
    background-color: black;
    position: relative;
}

.titulo {
    text-align: center;
    font-size: 60px;
    color: rgb(251, 255, 6);
    background: black;
    position: relative;
    top: -50px;
}

.Block {
    position: relative;
    display: flex;
    background-color: white;
    flex-direction: column;
    top: -45px;
}

.selecione {
    position: relative;
    background-color: rgb(255, 251, 0);
}

.inclemento {
    position: relative;
    text-align: center;
}

.bots {
    position: relative;
    left: 100px;
    top: 10px;
}

.btn {
    position: relative;
    text-align: center;
}